@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #888;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #888;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #888;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #888;
}